<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<h1>Posts</h1>
<a href="/create_post/">Add new post</a>
    <ul>
        {% for i in all_items %}
        <li>
            <h2>{{i.title}}</h2>
            <p>{{i.content}}</p>
            <p>
                <time>{{i.createdDate}}</time>
            </p>
            <br>
            <a href="/edit_post/{{i.id}}/">Edit</a>
            <a href="/delete_post/{{i.id}}/">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
